@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
	text-decoration: none;
}

// Customize swiper arrows
.swiper-button-next,
.swiper-button-prev {
	border-radius: 100%;

	width: 40px !important;
	height: 40px !important;

	color: #dfa94a !important;

	transition: all 0.25s ease-in-out;

	&:hover {
		background-color: rgba(0, 0, 0, 0.75) !important;
	}

	&::after {
		font-size: 24px !important;
		font-weight: bold !important;
	}
}
